.averageSession{
    background-color: #FF0000;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    position: relative;
    .title-graph{
        width: 140px;
        position: absolute;
        left: 20px;
        top: 20px;
        color:#FFFFFF ;
        font-size: 15px;
        opacity: 0.50;
    }
}

@media screen and (max-width:1439px){

}