.averageSession{
    grid-column-start: 1;
    grid-row-start: 7;
    margin-left: 100px;
    background-color: #FF0000;
    height:258px;
    width: 253px;
    border-radius: 5px;
    position: relative;

    .title-graph{
        width: 140px;
        position: absolute;
        left: 20px;
        top: 20px;
        color:#FFFFFF ;
        font-size: 15px;
        opacity: 0.50;
    }
}

