.barChartActivity{
    grid-column-start: 1;
    grid-row-start: 3;
    width: 835px;
    height: 320px;
    margin-left: 100px;
    .recharts-legend-wrapper{
    position: relative;
    width: 786px;
    height: auto;
    left: 0px;
    bottom: 5px;
    .recharts-default-legend{
        .recharts-legend-item{
            right: 0px;
            top: 0px;
        }
    }
}
}

