.barChartActivity{
    width: 835px;
    height: 320px;
    margin-top: 0px;
    position: absolute;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: yellow;
    top: 200px;
    left: 100px;
    
        .title-graph-barchart{
            font-weight: bold;
            position: absolute;
            font-size: 15px;
            top: 20px;
            left: 40px;
        }

        .recharts-legend-wrapper{
        position: relative;
        width: 786px;
        height: auto;
        left: 0px;
        bottom: -15px;
        .recharts-default-legend{
            font-size: 12px;
            .recharts-legend-item{
                right: 0px;
                top: 0px;
            }
        }
    }
}
@media screen and (max-width:1439px){
    .barChartActivity{
        width: 535px;
        height: 220px;
        margin-top: 0px;
        position: absolute;
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: yellow;
        top: 200px;
        left: 100px;
       
        .recharts-surface{
            width: 535px;
            height: 220px;
        }
        
        .title-graph-barchart{
            font-weight: bold;
            position: absolute;
            font-size: 15px;
            top: 20px;
            left: 40px;
    
        }
    
    
        .recharts-legend-wrapper{
        position: relative;
        width: 535px;
        height: auto;
        left: 0px;
        bottom: -15px;
        .recharts-default-legend{
            font-size: 12px;
            .recharts-legend-item{
                right: 0px;
                top: 0px;
            }
        }
    }
    }
}
