.keyData{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    bottom: 10px;

    .keyCount{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FBFBFB;
        width: 258px;
        height: 124px;
        img{
            width: 60px;
            height: 60px;
        }
    }

    .dataBold{
        font-weight: bold;
        font-size: 20px;
    }
    
    p{
        font-size: 14px;
    }
}

@media screen and (max-width:1439px){
    .keyData{
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 15px;
        bottom: 10px;
    
        .keyCount{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #FBFBFB;
            width: 208px;
            height: 124px;
            img{
                width: 55px;
                height: 55px;
            }
        }
    
        .dataBold{
            font-weight: bold;
            font-size: 16px;
        }
        
        p{
            font-size: 12px;
        }
    }
}
