.keyData{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 6;
    grid-row-start: 3;

    .keyCount{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FBFBFB;
        width: 258px;
        height: 124px;
        img{
            width: 60px;
            height: 60px;
        }
    }

    .dataBold{
        font-weight: bold;
        font-size: 20px;
    }
    
    p{
        font-size: 14px;
    }
}

