.home{
    position: relative;
    width: 100%;
    .corpus-home{
        width: 85%;
        display: grid;
        position: absolute;
        left: 120px;
        top:96px;
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-column-gap: 5px;
        grid-template-rows: 95px 95px 95px 95px 95px 95px 95px 95px ;
        row-gap: 5px;
        justify-self: stretch;

    }
}



.infoHomePage{
    font-size: large;
    color: black;
    position:absolute;
    top : 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
}

.display-details-data{
    display: flex;
    justify-content: space-between;
    width: 820px;
    height: 258px;
    position: absolute;
    bottom: 10px;
    left: 100px;
}